<!-- <div class="w-screen">
    <div class="w-full mx-8 mt-4">
<div class="flex space-x-2 w-">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 12H5" stroke="#1D2939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 19L5 12L12 5" stroke="#1D2939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        
    <p class="font-medium text-[#1D2939]">
        2 New Notifications
    </p>
</div>
<div class="w-10/12">
<p>hjfbsgkbfvekbfukebghk</p>
</div>
    </div>
</div> -->

<div>
    <div class=" mt-4 mx-8 flex">
      <svg routerLink="/dashboard/village-facility" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 12H5" stroke="#1D2939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M12 19L5 12L12 5" stroke="#1D2939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <p class="font-medium text-[#1D2939]">
        2 New Notifications
    </p>
    </div>
    <div class="bg-green-300 w-10/12 mx-8 mt-10 h-auto">
        <div class="h-auto">
            <p>bskkvuhsukhuk</p>
        </div>
        
    </div>
    </div>
    