.bg{
    border-radius: var(--common-radius, 10px);
background: linear-gradient(90deg, #F093FB 0%, #F5576C 100%);

/* Shadow/sm */
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
}
.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 45px;
    height: 40px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(green 50%, white 0);    
  }
  
  .progress-bar::before {
    content: "50%";
  }