<div>
  <div class="text-[#1D2939] mt-4 mx-4 flex" routerLink="/villagers/productivity">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M19 12H5" stroke="#1D2939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M12 19L5 12L12 5" stroke="#1D2939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <p class="ml-2 text-[#1D2939] text-2xl">Add New Family</p>
  </div>
  <div>
    <div class="mt-8 w-auto ml-12 mr-8 h-auto rounded-md"
      style="background: linear-gradient(90deg, #f093fb 0%, #f5576c 100%)">
      <div class="mx-2 pt-3 flex pb-3">
        <div>
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.5 10C0.5 4.7533 4.7533 0.5 10 0.5H30C35.2467 0.5 39.5 4.7533 39.5 10V30C39.5 35.2467 35.2467 39.5 30 39.5H10C4.7533 39.5 0.5 35.2467 0.5 30V10Z"
              stroke="white" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.82149 8.82165C8.33334 9.30981 8.33334 10.0955 8.33334 11.6668V28.3335C8.33334 31.4762 8.33334 33.0475 9.30966 34.0238C9.85398 34.5682 10.5832 34.809 11.6667 34.9157V32.5002C11.6667 31.1195 12.786 30.0002 14.1667 30.0002C15.5474 30.0002 16.6667 31.1195 16.6667 32.5002V35.0002H23.3333V32.5002C23.3333 31.1195 24.4527 30.0002 25.8333 30.0002C27.214 30.0002 28.3333 31.1195 28.3333 32.5002V34.9157C29.4168 34.809 30.146 34.5682 30.6903 34.0238C31.6667 33.0475 31.6667 31.4762 31.6667 28.3335V11.6668C31.6667 10.0955 31.6667 9.30981 31.1785 8.82165C30.6903 8.3335 29.9047 8.3335 28.3333 8.3335H11.6667C10.0953 8.3335 9.30966 8.3335 8.82149 8.82165Z"
              fill="white" />
            <path d="M14.1667 15.8335H25.8333" stroke="#98A2B3" stroke-width="2.5" stroke-linecap="round" />
            <path d="M14.1667 20.8335H20.8333" stroke="#98A2B3" stroke-width="2.5" stroke-linecap="round" />
            <path d="M14.1667 25.8335H24.1667" stroke="#98A2B3" stroke-width="2.5" stroke-linecap="round" />
            <path
              d="M26.6667 32.4998C26.6667 32.0397 26.2935 31.6665 25.8333 31.6665C25.3732 31.6665 25 32.0397 25 32.4998H26.6667ZM25 32.4998V34.9998H26.6667V32.4998H25Z"
              fill="#344054" />
            <path
              d="M15 32.4998C15 32.0397 14.6269 31.6665 14.1667 31.6665C13.7064 31.6665 13.3333 32.0397 13.3333 32.4998H15ZM13.3333 32.4998V34.9998H15V32.4998H13.3333Z"
              fill="#344054" />
          </svg>
        </div>

        <div class="ml-4">
          <div class="flex justify-between">
            <p class="text-[#FFF] text-xl">Request For Form Update</p>
            <div class="">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 18L15 12L9 6" stroke="white" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="mr-4 mt-3">
            <p class="text-[#F2F4F7] text-xs">
              You have the option to make a formal request to your manager,
              seeking approval for adding or removing data fields from the form.
            </p>
          </div>
        </div>
      </div>
    </div>
    <form class="mx-5 md:mx-48">
      <div class="my-9">
        <p class="font-semibold text-[#1D2939] text-2xl mt-3">Resources</p>
      </div>

      <div class="w-full mt-4 flex flex-col md:flex-row">
        <div class="mb-4 md:mr-4 w-full lg:mr-16">
          <p class="text-[#1D2939] text-md font-medium">
            Fuel Source for cooking
          </p>
          <select class="border rounded-lg w-full h-10 pl-2 mt-2">
            <option>Bio gas</option>
          </select>
        </div>
        <div class="w-full">
          <p class="text-[#1D2939] text-md font-medium">Fuel Source</p>
          <select class="border rounded-lg w-full h-10 pl-2 mt-2">
            <option>Bio gas</option>
          </select>
        </div>
      </div>

      <div class="w-full mt-2 flex flex-col md:flex-row">
        <div class="mb-4 md:mr-4 w-full lg:mr-16">
          <p class="text-[#1D2939] font-medium text-md">Cost of LPG</p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800 mt-2" placeholder="432" />
        </div>
        <div class="w-full">
          <p class="text-[#1D2939] font-medium text-md">Cost of Bio gas</p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800 mt-2" placeholder="425" />
        </div>
      </div>

      <div class="w-full mt-2 flex flex-col md:flex-row">
        <div class="mb-4 md:mr-4 w-full lg:mr-16">
          <p class="text-[#1D2939] font-medium text-md">Number of LPG</p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800 mt-2" placeholder="4" />
        </div>
        <div class="w-full">
          <p class="text-[#1D2939] font-medium text-md">Number of bio gas</p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800 mt-2" placeholder="4" />
        </div>
      </div>

      <div class="w-full mt-2 flex flex-col md:flex-row">
        <div class="mb-4 md:mr-4 w-full lg:mr-16">
          <p class="text-[#1D2939] font-medium text-md">Cost of Electricity</p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800 mt-2" placeholder="325" />
        </div>
        <div class="w-full">
          <p class="text-[#1D2939] font-medium text-md">
            Number of Electric Grill
          </p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800 mt-2" placeholder="4" />
        </div>
      </div>

      <div class="w-full mt-2 flex flex-col md:flex-row">
        <div class="mb-4 md:mr-4 w-full lg:mr-16">
          <p class="text-[#1D2939] font-medium text-md">Cost of Solar</p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800 mt-2" placeholder="425" />
        </div>
        <div class="w-full">
          <p class="text-[#1D2939] font-medium text-md">Number of Solars</p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800 mt-2" placeholder="2" />
        </div>
      </div>

      <div class="w-full mt-2 flex flex-col md:flex-row">
        <div class="mb-4 md:mr-4 w-full lg:mr-16">
          <p class="text-[#1D2939] text-md font-medium">
            Agricultural technology
          </p>
          <select class="border rounded-lg w-full h-10 pl-2 mt-2">
            <option>Revised</option>
          </select>
        </div>
        <div class="w-full">
          <p class="text-[#1D2939] text-md font-medium">Modern tool</p>
          <select class="border rounded-lg w-full h-10 pl-2 mt-2">
            <option>Tractor</option>
          </select>
        </div>
      </div>

      <div class="w-full mt-2 flex flex-col md:flex-row pb-28">
        <div class="mb-4 md:mr-4 w-full lg:mr-16">
          <p class="text-[#1D2939] text-md font-medium">
            Interested in buying farm implements from the Agricultural
            Implements Bank?
          </p>
          <div class="flex mt-4">
            <div class="flex items-center me-4">
              <input id="inline-checkbox" type="checkbox" value=""
                class="w-6 h-6 text-green-500 bg-gray-100 border-gray-300 rounded focus:ring-green-800 dark:focus:ring-green-800 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
              <label for="inline-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Yes</label>
            </div>
            <div class="flex items-center me-4">
              <input id="inline-2-checkbox" type="checkbox" value=""
                class="w-6 h-6 text-green-800 bg-green-500 border-gray-300 rounded focus:ring-green-800 dark:focus:ring-green-800 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
              <label for="inline-2-checkbox"
                class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">No</label>
            </div>
          </div>
        </div>
        <div class="w-full">
          <p class="text-[#1D2939] text-md font-medium">traditional tools</p>
          <select class="border rounded-lg w-full h-10 pl-2 mt-2">
            <option>Well</option>
          </select>
        </div>
      </div>
    </form>

    <div class="block inset-x-0 bottom-0 bg-white fixed" style="
        box-shadow: 0px -4px 8px -2px rgba(16, 24, 40, 0.1),
          0px -2px 4px -2px rgba(16, 24, 40, 0.06);
      ">
      <div class="m-2 bg-white w-full">
        <div class="flex">
          <div>
            <div class="relative w-20 h-16">
              <svg class="w-full h-full" viewBox="0 0 100 100">
                <!-- Background circle -->
                <circle class="text-gray-200 stroke-current" stroke-width="10" cx="50" cy="50" r="40"
                  fill="transparent"></circle>
                <!-- Progress circle -->
                <circle class="text-[#046A38] progress-ring__circle stroke-current" stroke-width="10"
                  stroke-linecap="round" cx="50" cy="50" r="40" fill="transparent"
                  stroke-dashoffset="calc(400 - (400 * 15) / 100)"></circle>

                <!-- Center text -->
                <text x="50" y="50" font-family="Verdana" font-size="12" text-anchor="middle"
                  alignment-baseline="middle">
                  75%
                </text>
              </svg>
            </div>
            <p class="text-[#475467] font-medium">Progress</p>
          </div>
          <div class="mx-5 w-full bg-white">
            <div class="flex justify-between-center gap-11">
              <button type="submit" [ngStyle]="" routerLink="/villagers/productivity"
                class="border-[#046A38] border-2 text-base font-medium text-white w-full rounded-md h-14 ">
                <svg xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-arrow-narrow-left h-6 w-6 inline-block ml-2" viewBox="0 0 24 24"
                  stroke-width="2" stroke="#046A38" fill="#046A38" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M5 12l14 0" />
                  <path d="M5 12l4 4" />
                  <path d="M5 12l4 -4" />
                </svg>

                <span class="ml-2 text-[#046A38]">Previous</span>
              </button>
              <button type="submit" [ngStyle]="" routerLink="/villagers/waste-plastic-management"
                class="border-2 bg-gray-400 hover:bg-[#14644A] active:bg-[#14644A] text-base font-medium text-white w-full rounded-md h-14">
                Skip & Proceed
                <svg xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-arrow-narrow-right h-6 w-6 inline-block ml-2" viewBox="0 0 24 24"
                  stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M5 12l14 0" />
                  <path d="M15 16l4 -4" />
                  <path d="M15 8l4 4" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>