div[role="progressbar"] {
    --size: 2.5rem;
    --fg: #21a14b;
    --bg: #ededed;
    --kf: #000000;
    /* //chanage */
    --pgPercentage: var(--value);
    -webkit-animation: growProgressBar 3s 1 forwards;
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: calc(var(--size));
    border-radius: 25%;
    display: grid;
    place-items: center;
    background: radial-gradient(
        closest-side,
        white 70%,
        transparent 0 99.9%,
        white 0
      ),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--kf);
    /* //changed// */
  }
  
  div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) "%";
  }