<!-- Carousel container -->
<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <!-- Carousel inner container -->
  <div class="carousel-inner h-screen w-screen transition-opacity">
    <!-- First carousel item (active) -->
    <div class="carousel-item active">
      <!-- Image for the first carousel item -->
      <img
        src="../assets/Images/Property 1=image 1.png"
        class="d-block w-screen h-screen"
        alt="..."
      />
    </div>
    <!-- Second carousel item -->
    <div class="carousel-item">
      <!-- Image for the second carousel item -->
      <img
        src="../assets/Images/Property 1=image 2.png"
        class="d-block w-screen h-screen"
        alt="..."
      />
    </div>
    <!-- Third carousel item -->
    <div class="carousel-item">
      <!-- Image for the third carousel item -->
      <img
        src="../assets/Images/Property 1=image 3.png"
        class="d-block w-screen h-screen"
        alt="..."
      />
    </div>
    <!-- Fourth carousel item -->
    <div class="carousel-item">
      <!-- Image for the fourth carousel item -->
      <img
        src="../assets/Images/Property 1=image 4.jpg"
        class="d-block w-screen h-screen"
        alt="..."
      />
    </div>
    <!-- Fifth carousel item -->
    <div class="carousel-item">
      <!-- Image for the fifth carousel item -->
      <img
        src="../assets/Images/Property 1=image 5.jpg"
        class="d-block w-screen h-screen"
        alt="..."
      />
    </div>
  </div>
</div>
<!-- Text overlay for the carousel -->
<div
  class="carousel-text absolute inset-0 text-white justify-end items-center flex flex-col w-full h-full"
>
  <div class="w-2/3 flex flex-col items-start justify-start">
    <div class="mb-10 py-3 mr-2">
      <!-- Logo and organization name -->
      <div class="flex flex-row mt-0 py-3">
        <img src="../assets/icons/logo.svg" alt="Logo" />
        <div class="mx-2">
          <h1 class="text-[2rem] font-semibold font">Samagra Gram Vikas</h1>
          <P class="text-[1rem] font-semibold font"
            >For the people, By the people, Of the people.</P
          >
        </div>
      </div>
      <p
        class="text-[2.25rem] font-bold flex flex-col justify-start items-start font"
      >
        Welcome to
      </p>
      <p
        class="text-[2.25rem] font-bold flex flex-col justify-end items-start font mb-3"
      >
        Samagra Gram Vikas
      </p>
      <p class="py-3 font text-[1rem]">
        Empowering Villages, Enhancing Lives: Embrace Progress, Flourish
        Together for Better Facilities and Development.
      </p>
    </div>
  </div>
  <div class="text-[15px] font-semibold ml-8 w-full"></div>
  <!-- Get Started button -->
  <div
    class="items-end justify-end bg-[#046A38] w-2/3 shadow-lg rounded-xl text-center py-6 mb-14"
  >
    <button class="text-[1.25rem] text-white font-semibold font">
      Get Started
    </button>
  </div>
</div>
