<footer  id="site-footer" class="transition-transform duration-300">
    <div class=" sticky inset-x-0 bottom-6">
        <div class="container  gap-40 bg-[#15803d]  items-center w-[210px] rounded-3xl shadow-xl">
          <div class=" flex justify-between font-Poppins p-3 text-white text-md  rounded-full">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 5V19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M5 12H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            Add New Village
          </div>
        </div>
      </div>
  </footer>