<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Samgra Grama Vikas</title>

    <script
      src="https://kit.fontawesome.com/yourcode.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div
      class="justify-center items-center flex flex-col h-screen border rounded-3xl overflow-hidden"
    >
      <div>
        <div class="flex space-x-2 mb-14">
          <img
            src="../assets/icons/icon-128x128.png"
            alt=""
            class="w-14 h-18"
          />

          <div>
            <p class="text-gray-700 font-bold text-3xl">Samgra Grama Vikas</p>

            <p class="text-[#FF671F] font-bold text-[13.8px]">
              For the people, By the people, Of the people.
            </p>
          </div>
        </div>
      </div>

      <!-- login form  -->

      <div class="pt-8 -ml-8">
        <div class="">
          <form action="" class="">
            <h2 class="text-gray-700 font-bold text-4xl">Login</h2>

            <p class="text-[#667085] font-normal text-lg pt-2">
              Please provide your valid login information.
            </p>

            <!-- form-body  -->

            <div class="pt-8 space-y-10">
              <div class="">
                <div class="relative grid ml-4 -mb-10">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16 8V13C16 13.7956 16.3161 14.5587 16.8787 15.1213C17.4413 15.6839 18.2044 16 19 16C19.7957 16 20.5587 15.6839 21.1213 15.1213C21.6839 14.5587 22 13.7956 22 13V12C21.9999 9.74303 21.2362 7.55248 19.8333 5.78453C18.4303 4.01659 16.4706 2.77523 14.2726 2.2623C12.0747 1.74937 9.76794 1.99504 7.72736 2.95937C5.68677 3.92369 4.03241 5.54996 3.03327 7.57372C2.03413 9.59749 1.74898 11.8997 2.22418 14.1061C2.69938 16.3125 3.90699 18.2932 5.65064 19.7263C7.39429 21.1593 9.57144 21.9603 11.8281 21.9992C14.0847 22.038 16.2881 21.3122 18.08 19.94"
                      stroke="#667085"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />

                    <path
                      d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"
                      stroke="#667085"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>

                <input
                  type="text"
                  placeholder="UserName"
                  class="border-gray-300 rounded-lg w-full pl-14 py-3 text-gray-600 outline-none border-2"
                />
              </div>

              <!-- lock icon -->

              <div>
                <div class="relative grid ml-4 -mb-10">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M19 11H5C3.89543 11 3 11.8954 3 13V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V13C21 11.8954 20.1046 11 19 11Z"
                      stroke="#667085"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />

                    <path
                      d="M7 11V7C7 5.67392 7.52678 4.40215 8.46447 3.46447C9.40215 2.52678 10.6739 2 12 2C13.3261 2 14.5979 2.52678 15.5355 3.46447C16.4732 4.40215 17 5.67392 17 7V11"
                      stroke="#667085"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>

                <!-- eye icon -->

                <div
                  class="relative grid mr-4 -mb-36 text-center float-right pt-3"
                >
                  <svg
                    width="24"
                    height="24"
                    class=""
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12C23 12 19 20 12 20C5 20 1 12 1 12Z"
                      stroke="#667085"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />

                    <path
                      d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                      stroke="#667085"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>

                <input
                  type="text"
                  placeholder="Password"
                  class="border-gray-300 rounded-lg w-full pl-14 py-3 text-gray-600 outline-none border-2"
                />
              </div>
            </div>

            <div></div>
            <div class="float-right mt-4">
              <button class="text-[#FF671F] font-semibold text-sm" routerLink="/forgot-password">
                Forgot Password ?
              </button>
            </div>

            <div class="pt-16">
              <button
                class="bg-[#046A38] border border-gray-300 rounded-lg px-[210px] py-3 text-white font-semibold" routerLink="/home"
              >
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
