.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 45px;
    height: 40px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(green 30%, white 0);    
  }
  
  .progress-bar::before {
    content: "30%";
  }