<div class="h-full">
  <div routerLink="/villagers" class=" text-[#1D2939] mt-4 mx-4 flex ">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M19 12H5" stroke="#1D2939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M12 19L5 12L12 5" stroke="#1D2939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <p class="ml-2 text-[#1D2939] text-2xl">Add New Family</p>
  </div>
  <div>
    <div class="mt-8 w-auto ml-12 mr-8 h-auto rounded-md"
      style="background: linear-gradient(90deg, #f093fb 0%, #f5576c 100%)">
      <div class="mx-2 pt-3 flex pb-3">
        <div>
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.5 10C0.5 4.7533 4.7533 0.5 10 0.5H30C35.2467 0.5 39.5 4.7533 39.5 10V30C39.5 35.2467 35.2467 39.5 30 39.5H10C4.7533 39.5 0.5 35.2467 0.5 30V10Z"
              stroke="white" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.82149 8.82165C8.33334 9.30981 8.33334 10.0955 8.33334 11.6668V28.3335C8.33334 31.4762 8.33334 33.0475 9.30966 34.0238C9.85398 34.5682 10.5832 34.809 11.6667 34.9157V32.5002C11.6667 31.1195 12.786 30.0002 14.1667 30.0002C15.5474 30.0002 16.6667 31.1195 16.6667 32.5002V35.0002H23.3333V32.5002C23.3333 31.1195 24.4527 30.0002 25.8333 30.0002C27.214 30.0002 28.3333 31.1195 28.3333 32.5002V34.9157C29.4168 34.809 30.146 34.5682 30.6903 34.0238C31.6667 33.0475 31.6667 31.4762 31.6667 28.3335V11.6668C31.6667 10.0955 31.6667 9.30981 31.1785 8.82165C30.6903 8.3335 29.9047 8.3335 28.3333 8.3335H11.6667C10.0953 8.3335 9.30966 8.3335 8.82149 8.82165Z"
              fill="white" />
            <path d="M14.1667 15.8335H25.8333" stroke="#98A2B3" stroke-width="2.5" stroke-linecap="round" />
            <path d="M14.1667 20.8335H20.8333" stroke="#98A2B3" stroke-width="2.5" stroke-linecap="round" />
            <path d="M14.1667 25.8335H24.1667" stroke="#98A2B3" stroke-width="2.5" stroke-linecap="round" />
            <path
              d="M26.6667 32.4998C26.6667 32.0397 26.2935 31.6665 25.8333 31.6665C25.3732 31.6665 25 32.0397 25 32.4998H26.6667ZM25 32.4998V34.9998H26.6667V32.4998H25Z"
              fill="#344054" />
            <path
              d="M15 32.4998C15 32.0397 14.6269 31.6665 14.1667 31.6665C13.7064 31.6665 13.3333 32.0397 13.3333 32.4998H15ZM13.3333 32.4998V34.9998H15V32.4998H13.3333Z"
              fill="#344054" />
          </svg>
        </div>
        <div class="ml-4  w-full">
          <div class="flex justify-between">
            <p class="text-[#FFF] text-xl">Request For Form Update</p>
            <div class="">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 18L15 12L9 6" stroke="white" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="mr-4 mt-3">
            <p class="text-[#F2F4F7] text-xs">
              You have the option to make a formal request to your manager,
              seeking approval for adding or removing data fields from the form.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- form -->
    <form class="mx-5 md:mx-48 h-full ">
      <div>
        <p class="font-semibold text-[#1D2939] text-2xl mt-4 ">Family Details</p>
      </div>

      <div class="w-full mb-4 mt-8 flex flex-col md:flex-row gap-x-5">
        <div class=" w-full ">
          <p class="text-[#1D2939] font-medium text-md">Male Count</p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800" placeholder="eg.432">
        </div>
        <div class="w-full">
          <p class="text-[#1D2939] font-medium text-md">Female Count</p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800" placeholder="eg.425">
        </div>
      </div>


      <div class="w-full mt-8 mb-4 flex flex-col md:flex-row gap-x-5">
        <div class=" w-full ">
          <p class="text-[#1D2939] font-medium text-md">Boy Count</p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800" placeholder="eg.432">
        </div>
        <div class="w-full">
          <p class="text-[#1D2939] font-medium text-md">Girl Count</p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800" placeholder="eg.425">
        </div>
      </div>

      <div class="w-full mb-4 mt-8 flex flex-col md:flex-row gap-x-5">
        <div class=" w-full ">
          <p class="text-[#1D2939] font-medium text-md">High-School pass out</p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800" placeholder="eg. 4">
        </div>
        <div class="w-full">
          <p class="text-[#1D2939] font-medium text-md">10th pass out</p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800" placeholder="eg. 4">
        </div>
      </div>

        <div class=" gap-x-5 mb-4 mt-8 w-full flex flex-col md:flex-row">
          <div class="w-full">
            <p class="text-[#1D2939] font-medium text-md">12th pass out</p>
            <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800" placeholder="eg.4">
          </div>
        <div class="w-full">
          <p class="text-[#1D2939] font-medium text-md">Graduates</p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800" placeholder="eg.4">
        </div>
      </div>

      <div class="w-full mt-8 flex flex-col md:flex-row gap-x-5">
        <div class="mb-4  w-full ">
          <p class="text-[#1D2939] font-medium text-md">Post Graduates</p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800" placeholder="eg. 425">
        </div>
        <div class="w-full">
          <p class="text-[#1D2939] font-medium text-md">Agriculture Area</p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800" placeholder="eg. 2">
        </div>
      </div>
      <div class="w-full mt-8 flex flex-col md:flex-row gap-x-5">
        <div class="mb-4  w-full ">
          <div class="w-full">
            <p class="text-[#1D2939] font-medium text-md">Non-Agriculture Area</p>
            <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800" placeholder="eg. 2">
          </div>
        </div>
        <div class="w-full">
          <p class="text-[#1D2939] text-md font-medium">Water Supply Source</p>
          <select class="border rounded-lg w-full h-10 pl-2">
            <option>River</option>
          </select>
        </div>
      </div>
      <div class="w-full gap-x-5 mt-8 flex flex-col md:flex-row  ">
        <div class="mb-4  w-full  " >
          <div class="w-full">
            <p class="text-[#1D2939] font-medium text-md">Water Supply Institute</p>
            <select class="border rounded-lg w-full h-10 pl-2">
              <option>eg. Vitthal water supply</option>
            </select>
          </div>
        </div>
        <div class="mb-4  w-full   ">
          <p class="text-[#1D2939] text-md font-medium">
            Interest in skill development
          </p>
          <div class="flex mt-2 ">
            <div class="flex items-center me-4">
              <input id="inline-checkbox" type="checkbox" value=""
                class="w-6 h-6 text-green-500 bg-gray-100 border-gray-300 rounded focus:ring-green-800 dark:focus:ring-green-800 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="inline-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Yes</label>
            </div>
            <div class="flex items-center me-4">
              <input id="inline-2-checkbox" type="checkbox" value=""
                class="w-6 h-6 text-green-800 bg-green-500 border-gray-300 rounded focus:ring-green-800 dark:focus:ring-green-800 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="inline-2-checkbox"
                class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">No</label>
            </div>
          </div>
        </div>
      </div>
      <!-- Own business  -->
      <div class="w-full mt-8 flex flex-col md:flex-row  gap-x-5">
        <div class="mb-4  w-full ">
          <p class="text-[#1D2939] text-md font-medium">
            Own Business
          </p>
          <div class="flex mt-2 ">
            <div class="flex items-center me-4">
              <input id="inline-checkbox" type="checkbox" value="" (click)="setActiveButton(1) " [class.active]="activeButton === 1"
                class="w-6 h-6 text-green-500 bg-gray-100 border-gray-300 rounded focus:ring-green-800 dark:focus:ring-green-800 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="inline-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Yes</label>
            </div>
            <div class="flex items-center me-4">
              <input id="inline-2-checkbox" type="checkbox" value="" (click)="setActiveButton(2)" [class.active]="activeButton === 2"
                class="w-6 h-6 text-green-800 bg-green-500 border-gray-300 rounded focus:ring-green-800 dark:focus:ring-green-800 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="inline-2-checkbox"
                class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">No</label>
            </div>
          </div>
        </div>
        <div class="mb-4  w-full  " *ngIf="activeButton === 1">
          <div class="w-full">
            <p class="text-[#1D2939] font-medium text-md">Business Type</p>
            <select class="border rounded-lg w-full h-10 pl-2">
              <option>eg.Legal structure</option>
            </select>
          </div>
        </div>
      </div>

      <div class="w-full gap-x-5 mt-8 flex flex-col md:flex-row " *ngIf="activeButton === 1">
        <div class="mb-4  w-full ">
          <div class="w-full">
            <p class="text-[#1D2939] font-medium text-md">Available in market</p>
            <div class="flex mt-2 ml-2">
              <div class="flex items-center me-4">
                <input id="inline-checkbox" type="checkbox" value=""
                  class="w-6 h-6 text-green-500 bg-gray-100 border-gray-300 rounded focus:ring-green-800 dark:focus:ring-green-800 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="inline-checkbox"
                  class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Yes</label>
              </div>
              <div class="flex items-center me-4">
                <input id="inline-2-checkbox" type="checkbox" value=""
                  class="w-6 h-6 text-green-800 bg-green-500 border-gray-300 rounded focus:ring-green-800 dark:focus:ring-green-800 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="inline-2-checkbox"
                  class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">No</label>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-4 gap-x-5 w-full ">
          <p class="text-[#1D2939] text-md font-medium">Any Other business</p>
          <input class="w-full h-10 border rounded-lg pl-2 placeholder-gray-800" placeholder="eg. 2">
        </div>
      </div>

    </form>
  </div>
</div>
<!-- footer -->
<div class="mt-72">
  <footer class=" body-font w-full h-fit  bg-white  fixed bottom-0 mb-0">
    <div
      class=" ml-4 flex md:items-center lg:items-center lg:justify-center md:flex-row md:flex-nowrap flex-wrap flex-col">
      <div class="my-9 md:mx-16  flex items-center  space-x-6 flex-shrink-0 ">
        <!-- progress bar -->
        <div>
          <div class=" w-20 h-16">
            <svg class="w-full h-full" viewBox="0 0 100 100">
              <!-- Background circle -->
              <circle class="text-gray-200 stroke-current" stroke-width="10" cx="50" cy="50" r="40" fill="transparent">
              </circle>
              <!-- Progress circle -->
              <circle class="text-[#046A38]  progress-ring__circle stroke-current" stroke-width="10"
                stroke-linecap="round" cx="50" cy="50" r="40" fill="transparent"
                stroke-dashoffset="calc(400 - (400 * 15) / 100)"></circle>

              <!-- Center text -->
              <text x="50" y="50" font-family="Verdana" font-size="12" text-anchor="middle"
                alignment-baseline="middle">15%</text>

            </svg>
          </div>
          <p class="text-[#475467] font-medium">Progress</p>
        </div>
        <div class="">
          <button routerLink="/villagers"
            class="flex  rounded-lg w-64 py-3 items-center justify-center space-x-2 border-[#046A38] border-2">
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.5 12H5.5" stroke="#046A38" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M12.5 19L5.5 12L12.5 5" stroke="#046A38" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <p class="text-[#046A38]">Previous</p>
          </button>
        </div>
        <div class="">
          <button routerLink="/villagers/farming"
            class="flex border rounded-lg w-64 py-3 hover:bg-[#14644A] bg-gray-400 items-center justify-center space-x-2 text-white">

            <p class="text-white ">Proceed</p>
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.5 12H19.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M12.5 5L19.5 12L12.5 19" stroke="white" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>

          </button>
        </div>
      </div>
    </div>
  </footer>
</div>