<!-- This div contains the main content of the page -->
<div
  class="flex flex-col flex-nowrap w-screen justify-center items-center mt-0"
>
  <!-- Logo and Title -->
  <div class="flex flex-row justify-center items-center m-20">
    <!-- The logo image -->
    <img
      src="../assets/icons/icon-144x144.png"
      alt="Logo"
      class="w-[3.75rem] h-[3.30rem]"
    />
    <div class="mx-2">
      <!-- The title of the page -->
      <h1 class="text-[2rem] font-semibold font">Samagra Gram Vikas</h1>
      <!-- A tagline for the page -->
      <p class="text-[0.95rem] font-semibold font text-[#FF671F]">
        For the people, By the people, Of the people.
      </p>
    </div>
  </div>

  <!-- Heading -->
  <h1 class="text-[#344054] text-[2.25rem] font-bold py-4">
    Choose Your App Language
  </h1>

  <!-- Language Buttons -->
  <div class="py-10">
    <!-- A grid to display language buttons -->
    <div
      class="grid grid-cols-2 items-center justify-center self-stretch gap-9 w-[31.625rem]"
    >
      <!-- English Button -->
      <button
        class="py-10 justify-center items-center gap-2 white_ text-[1.75rem] font-medium hover:bg-[#046A38] border-1 rounded-xl"
        routerLink="/login"
      >
        English
      </button>

      <!-- Hindi Button -->
      <button
        class="py-10 justify-center items-center gap-2 white_ text-[1.75rem] font-medium hover:bg-[#046A38] border-1 rounded-xl"
        routerLink="/login"
      >
        हिंदी
      </button>

      <!-- Marathi Button -->
      <button
        class="py-10 justify-center items-center gap-2 white_ text-[1.75rem] font-medium hover:bg-[#046A38] border-1 rounded-xl"
        routerLink="/login"
      >
        मराठी
      </button>

      <!-- Kannada Button -->
      <button
        class="py-10 justify-center items-center gap-2 white_ text-[1.75rem] font-medium hover:bg-[#046A38] border-1 rounded-xl"
        routerLink="/login"
      >
        ಕನ್ನಡ
      </button>
    </div>
  </div>
</div>
