<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Samgra Grama Vikas</title>
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="justify-center items-center flex flex-col  h-screen border rounded-3xl overflow-hidden">
    <div>
      <div class="flex space-x-2 mb-14  ">
        
          <img src="../assets/icons/icon-128x128.png" alt="" class="w-14 h-18">
        <div><p class="text-gray-700 font-bold text-3xl">Samgra Grama Vikas</p>
          <p class="text-[#FF671F] font-bold text-[13.8px]">For the people, By the people, Of the people.</p></div>
        
      </div>
    </div>
    <!-- Forgot Password  -->
    <div class="pt-8 -ml-8">
      <div class="">
        <form action=""  class="">
          <h2 class="text-gray-700 font-bold text-4xl font-Poppins">Forgot Password</h2>
          <p class="text-[#667085] font-normal text-lg pt-2">We will sent a verification code to your registered email id </p>
                    <div class="pt-5  space-y-5">
            <div class="">
              <input type="text" placeholder="UserName" class=" border-gray-300 rounded-lg w-full pl-10  py-3 text-gray-600 outline-none border-2">
            </div>
            <div class="">
              <button class="bg-[#98A2B3] border border-gray-300 rounded-lg px-[210px] py-3 text-white font-semibold">Send OTP</button>
            </div>
            <div class="">
              <p class="text-[#667085] font-medium text-lg  flex justify-center items-center">Back to Login</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
