<div class="flex flex-col h-screen w-screen justify-around items-center mt-0">
  <!-- Logo section -->
  <div class="p-4 m-2 flex flex-col justify-center items-center">
    <!-- Logo image -->
    <img src="../assets/Images/image 28.png" alt="Logo" />
  </div>

  <!-- Header section -->
  <div class="flex flex-row justify-center items-center p-12 m-10">
    <!-- Header logo -->
    <img
      src="../assets/icons/icon-144x144.png"
      alt="Logo"
      class="w-[5rem] h-[4.35rem] mt-3"
    />
    <div class="mx-2">
      <!-- Header title -->
      <h1 class="text-[3rem] font-semibold font">Samagra Gram Vikas</h1>
      <!-- Header tagline -->
      <P class="text-[1.38rem] font-semibold font text-[#FF671F]">
        For the people, By the people, Of the people.
      </P>
    </div>
  </div>

  <!-- Footer section -->
  <div class="justify-center flex my-34 p-10">
    <!-- Footer image -->
    <img src="../assets/Images/Made In India.svg" alt="Made In India" />
  </div>
</div>
