<div class="flex flex-col min-h-screen w-screen justify-around items-center">
  <!-- Logo section -->
  <div class="p-4 flex flex-col justify-center items-center">
    <!-- Logo image -->
    <img src="../assets/Images/image 28.png" alt="Logo" class="w-24 h-24 md:w-32 md:h-32 lg:w-48 lg:h-48" />
  </div>

  <!-- Header section -->
  <div class="flex flex-row justify-center items-center p-6 md:p-12 lg:p-16">
    <!-- Header logo -->
    <img src="../assets/icons/icon-144x144.png" alt="Logo" class="w-14 h-12 md:w-[5rem] md:h-[4.35rem] lg:w-[6rem] lg:h-[5rem] mt-3" />
    
    <div class="mt-4 text-center">
      <!-- Header title -->
      <h1 class="text-lg md:text-[3rem] lg:text-[3rem] font-semibold hidden md:block lg:block font-semibold font">Samagra Gram Vikas</h1>
      <!-- Header tagline -->
      <p class="text-md md:text-[1.38rem] lg:text-[1.38rem] font-semibold text-[#FF671F] mt-2 hidden md:block lg:block">
        For the people, By the people, Of the people.
      </p>
    </div>
  </div>

  <!-- Footer section -->
  <div class="flex justify-center items-center my-10 md:my-14 lg:my-20 p-4 md:p-6 lg:p-10">
    <!-- Footer image -->
    <img src="../assets/Images/Made In India.svg" alt="Made In India" class="w-20 h-20 md:w-28 md:h-28 lg:w-36 lg:h-36" />
  </div>
</div>
