.flex1 {
  color: var(--base-white, #fff);
  display: flex;
  flex-direction: column;
  width: max-content;
  color: var(--gray-100, #f2f4f7);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-right: 220px;
}
