<footer>
  <div class="container w-75 gap-20 bg-white p-4 items-center rounded-2xl shadow-xl">
    <div class="flex flex-row justify-around">
      <button>
        <img src="/assets/icons/Footer Icons/HOME.svg" alt="" class="mx-1" />Home
      </button>
      <button routerLink="/dashboard/village">
        <img src="/assets/icons/Footer Icons/VILLAGE.svg" alt="" class="mx-2" />Villages
      </button>
      <button routerLink="/dashboard/notification">
        <img src="/assets/icons/Footer Icons/NOTIFY.svg" alt="" class="mx-1" />Notify
      </button>
      <button routerLink="/dashboard/agent-profile">
        <img src="/assets/icons/Footer Icons/PROFILE.svg" alt="" class="mx-1" />Profile
      </button>
    </div>
  </div>
</footer>