<footer id="site-footer" class="transition-transform duration-300 fixed bottom-0 w-full md:relative md:mb-16 lg:mb-24 xl:mb-32 ">
  <div class="container mx-auto px-4 md:w-3/4 lg:w-3/4 xl:w-3/4 bg-white p-4 items-center rounded-2xl shadow-xl shadow">
    <div class="flex flex-row flex-wrap justify-around">
      <button routerLink="/dashboard" class="mb-2 md:mb-0 md:mx-2">
        <img src="/assets/icons/Footer Icons/HOME.svg" alt="" class="mx-1" />Home
      </button>
      <button routerLink="/dashboard/village" class="mb-2 md:mb-0 md:mx-2">
        <img src="/assets/icons/Footer Icons/VILLAGE.svg" alt="" class="mx-2" />Villages
      </button>
      <button routerLink="/dashboard/notification" class="mb-2 md:mb-0 md:mx-2">
        <img src="/assets/icons/Footer Icons/NOTIFY.svg" alt="" class="mx-1" />Notify
      </button>
      <button routerLink="/dashboard/agent-profile" class="mb-2 md:mb-0 md:mx-2">
        <img src="/assets/icons/Footer Icons/PROFILE.svg" alt="" class="mx-1" />Profile
      </button>
    </div>
  </div>
</footer>
