<!-- This div contains a group of elements at the bottom of the page, aligned horizontally -->
<footer class="sticky bottom-0 top-0 left-0 right-0">
  <div class="flex justify-around items-center">
    <!-- This div represents a container with a white background, padding, and shadow -->
    <div
      class="bg-[#fff] py-4 px-6 shadow-2xl w-2/3 flex flex-row justify-between rounded-2xl"
    >
      <!-- This button represents a clickable element with an icon and text for the "HOME" section -->
      <button class="px-3 mx-3">
        <img src="../assets/icons/Footer Icons/HOME.svg" alt="" />
        <p class="my-2">HOME</p>
      </button>
      <!-- This button represents a clickable element with an icon and text for the "Village" section -->
      <button class="px-3 mx-3">
        <img src="../assets/icons/Footer Icons/VILLAGE.svg" alt="" />
        <p class="my-2">Village</p>
      </button>
      <!-- This button represents a clickable element with an icon and text for the "Notify" section -->
      <button class="px-3 mx-3">
        <img src="../assets/icons/Footer Icons/NOTIFY.svg" alt="" />
        <p class="my-2">Notify</p>
      </button>
      <!-- This button represents a clickable element with an icon and text for the "Profile" section -->
      <button class="px-3 mx-3">
        <img src="../assets/icons/Footer Icons/PROFILE.svg" alt="" />
        <p class="my-2">Profile</p>
      </button>
    </div>
  </div>
</footer>
